<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog do Node!</h1>
  <p class="lead">Aqui você podera criar listas de categorias e de postagens.
     

  </p>
  <hr class="my-4">
  <p>Contendo os campos: Nome, descrição, slug, conteudo e categoria criada. <br>Podendo tambem efetuar a exclusão ou edição desejados pelo usuario! 

  </p>
</div>
<hr>
